*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Hero_container
{
    width: 100dvw;
    height: 100vh;
    /* padding: 0 10rem; */
    background-image: url("../../assets//images/success.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -99;
    margin-top: -4rem;
}

.Hero_container .flex_content
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10rem;
}


.Hero_container .flex_content .content_left
{
    width: 50%;
    margin-right: auto;
    color: white;
}


.Hero_container .flex_content .content_left .header_text h2
{
    font-size: 40px;
    font-weight: 500;
}