.bg-jumpschool-section {
  background-image: url('../../assets/images/jumpBg.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .bg-jumpschool-section {
    background-size: contain;
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .bg-jumpschool-section {
    background-size: cover;
    height: auto;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .bg-jumpschool-section {
    background-size: cover;
    height: auto;
    padding: 10px;
  }
}
