.bg-carde {
  background-image: url('../../assets/images/carteBg.png'); 
  background-size: cover;
  background-position: center;
}

.card-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(9, 25, 0, 0.5); 
  border-radius: 1.5rem; 
}


.bottom_card.z-20 {
  background: white;
  transform: rotate(357deg);
  height: 4rem;
  position: absolute;
  bottom: -1rem;
  width: 100%;
  box-shadow: -1px -3px 5px 0px rgba(189,189,189,0.75);
-webkit-box-shadow: -1px -3px 5px 0px rgba(189,189,189,0.75);
-moz-box-shadow: -1px -3px 5px 0px rgba(189,189,189,0.75);
}


button.text-customPink.text-button.flex.flex-col.items-center.justify-center.text-xl.font-bold {
  transform: rotate(3deg);
  text-align: center;
  margin: auto;
  /* vertical-align: middle; */
  height: 70%;
}
