.title-container {
  background-image: url('../../assets/images/Formation-proposé/bgtitre.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}



.section-container{
  background-image: url('../../assets/images/Formation-proposé/BgSection.png');
  background-size: cover;
  background-position: center;


}
.section-container {
  position: relative;
  padding-bottom: 100px; 
}

.section-container::after {
  content: '';
  background-image: url('../../assets/images/Formation-proposé/bgdown.png');
  /* background-size: cover;   */
  background-repeat: no-repeat;
  background-position: bottom center;
  position: absolute; 
  top:63%;
  left: 0;
  width: 98.7vw;
  height:75vh;
  z-index: -1;
}


@media only screen and (max-width: 1140px) {
  .section-container::after {
    height:100vh;
  }
}


