.title-container {
  background-image: url('../../assets/images/Formation-proposé/bgtitre.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}



.section-container{
  background-image: url('../../assets/images/Formation-proposé/BgSection.png');
  background-size: cover;
  background-position: center;


}
.section-container {
  position: relative;
  padding-bottom: 200px; 
}

.section-container::after {
  content: '';
  background-image: url('../../assets/images/Formation-proposé/bgdown.png');
  background-size: cover;  
  background-position: bottom center;
  position: absolute; 
  top:63%;
  left: 0;
  width: 98.7vw;
  height:59vh;
  z-index: -1;
}



